<div id="main-content" class="region">
	<div id="mensajes">
		{% if mensaje['estatus'] == 0 %}
			<div class="flash-error">
			  <span>{{mensaje['mensaje']}} <a href="public/home/login">Ir a inicio de sesion</a></span>
			</div>
		{% elseif mensaje['estatus'] == 1 %} 
			<div id="exito"></div>
			<div class="flash-success">
			  <span>{{mensaje['mensaje']}}</span>
			</div>
		{% endif %}
	</div>
	<div id="content">
		{% block content %}
			{{ content.markup | raw }}
		{% endblock %}
	</div>
</div>