<div id="sub-header-first">
	<header class="navigation">
	  <div class="navigation-wrapper">
	    <a href="/public/home/index" class="logo">
	      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
	    </a>
	    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
	    <div class="nav">
	      <ul id="navigation-menu">

	        <li class="nav-link more"><a href="javascript:void(0)">¿Qué ofrecemos?</a>
	          <ul class="submenu">
	             <li class="nav-link"><a href="/public/productos/cabanas">Nuestras Cabañas</a></li>
	        <li class="nav-link"><a href="/public/productos/todos">Nuestros Paquetes</a></li>
	          </ul>
	       
	        <li class="nav-link"><a href="/public/home/about_us">Acerca de Nosotros</a></li>
	        <li class="nav-link"><a href="/public/home/contact_us">Contactanos</a></li>
	        </li>
	      </ul>
	    </div>
	    <div class="navigation-tools">
	      <div class="search-bar">
	      </div>
	      {% if not userlogged %}
	      	{% include 'user_not_logged.html' %}
	      {% else %}
	      	{% include 'user_logged.html' %}
	      {% endif %}
	    </div>
	  </div>
	</header>
</div>
